body{
   
    background-image:linear-gradient(45deg, rgb(000,000,000) ,rgb(161, 101, 218), rgb(22, 165, 201), rgb(155, 121, 219));
    height: 100%;
    margin: 30px;
    margin-left: 35px;
    margin-right: 35px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
    height: 20px;
    background-image:linear-gradient(45deg ,rgb(161, 101, 218), rgb(22, 165, 201), rgb(141, 97, 221));
    height: 100%;
    
    list-style-type: none;
   
}
nav   a :hover{
    color: blueviolet;
}
nav{
    border: solid white 5px;
    margin-top: 35px;
    border-radius: 15px;
   
    
}
a{
    color: white;
    text-decoration: none;
}


li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

li img {
    border: solid white;
    border-radius: 50%;
    
}

blockquote img {
    width: 1100px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin: 30px;
    border-radius: 45px;
   
    
}
blockquote a {
    color:  white;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
.iconeTO {
    border-radius: 100%;
    border: solid white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}
.imgI{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}
.grupo a {
    list-style-type: none;
    text-decoration: none;
    color :white;
    font-family: Arial, Helvetica, sans-serif;
}
.branco{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
   
    margin: 50px;
    padding: 50px;
    

}
.centro {
    display: flex;
    justify-content: center;
}
.central {
 justify-content: center;
 display:flex;
 border: solid, white;
 border-radius: 100px;

}
 div .central{
    display: flex;
    justify-items: center;
    border: solid, white;
    border-radius: 100%;
}
.alinhado{
    justify-content: center;
    display: flex;
}
.direita {
    display: flex;
    justify-content: center;

}

div img {
   
    justify-content: space-between;
   
    
}
.ultra{
    justify-content: center;
}
 
 
.conter{
    padding: 35px;
} 

p{
    font-family: Arial, Helvetica, sans-serif;
    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;  
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}